@charset "UTF-8";

body.-layerOpen{min-height:100vh;height:100vh;overflow:hidden;touch-action:none;}
.l-wrapper{position:fixed;top:0;left:0;right:0;bottom:0;z-index:2;background:rgba(0,0,0,0.5);}
.l-wrapper__content{display:inline-block;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);transition:all 0.4s;max-height:100%;}