@charset "UTF-8";
/**
* @File Name : a-form.scss
* @auther : Dstyle
* @description : [A] 폼요소
* @export : a-form.css
*
* @Modification Information
*
* 수정일 : 수정자 : 수정내용
* -----------------------
* 2021.03.23 : Dstyle : 최초생성
*/
.a-form{
  $fontSize:13px;
  $fontColor:#333;
  $border:1px solid #999;
  $lineHeight:20px;

  @at-root input[class^=a-form]:focus{outline:none;}
  @at-root input[type=text],
  input[type=password],
  input[type=number],
  input[type=email]{
    &[class^=a-form]{box-sizing:border-box;border:$border;font-size:$fontSize;color:$fontColor;min-height:$lineHeight;line-height:$lineHeight;width:100%;}
    &.a-form{box-sizing:border-box;border:$border;font-size:$fontSize;color:$fontColor;min-height:$lineHeight;line-height:$lineHeight;width:100%;}
    &:invalid{border:1px solid red;}
  }

  /*! 라디오, 체크박스용 ( label.a-form ) */
  /*
  <label class="a-form"><input type="checkbox" name="" class="a-form__input" /><span class="a-form__label"></span></label>
   */
  @at-root label.a-form{
    position:relative;overflow:hidden;min-width:20px;min-height:20px;line-height:20px;display:inline-block;
    *{vertical-align: top;}

    .a-form__label{display:inline-block;padding-left:25px;background-repeat:no-repeat;font-size:13px;line-height:20px;min-height:20px;
      &:empty{padding-left:20px;}
    }
    .a-form__input{display:none;} // 인풋요소 안보이기

    // 체크박스 일때
    input[type=checkbox].a-form__input{
      + .a-form__label{background-position:0 0;background-size:20px 200px;background-image:url("../_uikit/01_atom/form/bgCheckbox.png");}
      &:checked + .a-form__label{background-position:0 -50px;}
      &:disabled + .a-form__label{background-position:0 -100px;}
      &:checked:disabled + .a-form__label{background-position:0 -150px;}
    }

    .a-form__error{display:none;position:absolute;bottom:0;left:0;padding-left:10px;margin-bottom:-25px;color:red;font-size:12px;
      &:before{position:absolute;top:0;left:0;content:"*"}
    }
    .a-form__input:invalid{border:1px solid red;
      & + .a-form__error{display:block;}
    }
  }
}